.about-me {
  margin: 2rem;
  font-family: 'PT Mono', monospace;
  font-size: 1.5em;
  color: #0D0106;
}

.contact-section {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  font-family: 'PT Mono', monospace;
  color: #0D0106;
  flex-direction: column;
  align-items: center;
}

.contact-section h1 {
  margin: 2rem 0;
}

.contact-section a {
  font-size: 2rem;
}

#undraw-profile {
  height: 40rem;
  width: 40rem;
}