.jumbotron {
  color: #F0F0F0;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #8AA29E;
}

.about-me {
  margin: 20px;
  margin-bottom: 50px;
  font-family: 'PT Mono', monospace;
  font-size: 1.5em;
  color: #0D0106;
}

.about-me p {
  margin-top: 10px;
  margin-bottom: 25px;
}

#contact-title {
  margin: 15px;
  display: flex;
  font-size: 3em;
}

#contact-email {
  margin: 10px;
  font-size: 2em;
}

.contact-section {
  margin: 2rem;
  padding: 2rem;
  font-family: 'PT Mono', monospace;
  color: #0D0106;
}

.contact-section h1 {
  margin: 2rem 0;
}

.btn-primary {
  border-radius: 5%;
  background-color: #4392F1;
  font-size: 16px;
}