.name-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.jumbotron{
    background: #4392F1;
    color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    -webkit-animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.jumbotron div {
    white-space: pre;
    font-family: 'PT Mono', monospace;
    font-size: 1.2em;
}

.jumbotron div.row {
    display: flex;
    justify-content: center;
}

.jumbotron a.social-icon {
    margin: 10px;
}

#icon-container{
        margin: 40px 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.dev-icons {
        height: 100px;
        width: 100px;
        margin: 10px;
}

.tracking-in-contract {
    color: #0D0106;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
}

.tracking-in-contract-two {
    color: #0D0106;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    letter-spacing: .5em;
}

@-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  